<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987019953734-nr2petg59d6ir5s4s450tf9m87qgghb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987019953734-nr2petg59d6ir5s4s450tf9m87qgghb0</string>
	<key>API_KEY</key>
	<string>AIzaSyDSuBw_z1jBQ8SbzIe-T86rnxf56cTV5N8</string>
	<key>GCM_SENDER_ID</key>
	<string>987019953734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-52a9a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-52a9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987019953734:ios:0371c7f9f3245f0b6d6c47</string>
</dict>
</plist>